.title {
	-fx-background-color: "indianred";
}

.title Label {
	-fx-font-size: 45pt;
}

.friendData {
	-fx-font-size: 20pt;
}

.friendData:hover {
	-fx-text-fill: red;
	-fx-background-color: #E8E7E7;
}

.friendData Label:hover {
	-fx-text-fill: red;
}